@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-size:20px;
    font-family:Roboto Condensed;
}
p
{
    text-align:justify;
}
    p:first-letter {
        margin-left: 32px;
       /* font-size: 32px;
        font-family: 'Segoe Script'*/

    }
figure
{
    text-align:center;
}
figcaption
{
    font-style:italic;
}
aside
{
    font-style:italic;
    color:gray;
    font-size:16px;
    border-left:3px solid #808080;
    padding-left:15px;
    margin: 20px 0px;

}

ol
{
    list-style:upper-roman;
}
ol ol /* В конструкцию вложенна другая конструкция на любом уровне*/
{
    list-style:decimal;
}
ol ul
{
    list-style:none;
}

table
{
  margin: 15px auto;
  border:solid 2px;
  border-collapse:collapse;
  color:gray;
}
thead
{
    background-color:#4800ff;
    color:cornflowerblue;
    
}
thead tr
{
    border:solid 2px;
   
}
th, td
{
    border:solid 1px;

}
td
{
    text-align:center;
}
thead th
{
    padding:15px 45px;
}
tbody th
{
    text-align:left;
    padding-left:10px;
    color:gray;
}
caption
{
    font-style:italic;
    text-align:left;
}
  /*---------------------------------------------------------*/
table:hover {
    box-shadow: 0px 0px 15px 0px gray;
    /*
                box-shadow: shiftX shiftY blur spread color; 
    */
}

