body
{
}
table
{
    width:1000px;
    height:350px;
    margin:15px auto;
    border:solid 4px;
    border-collapse:collapse;
    background-color:gainsboro;
    color:gray;

}
.title-name
{
position:relative;
left:80px;
font-family:Tahoma;
font-size:18px;
color:black;


}

thead
{

}
thead tr
{
    border:solid 3px;
}
th, td
{
    border:solid 2px;
}